.jumbotron {
  padding-top: 7rem;
  background-color: #e4e7eb;
}

#project {
  background-color: #97c3ee;
}

#hubungi {
  background-color: #f3f4f5;
}

section {
  padding-top: 5rem;
}
